.circle {
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(65, 82, 46, 0.05);
  flex-shrink: 0;
  margin-right: 24px;
}
