.box {
  display: flex;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  gap: 24px;
  height: calc(100vh - 93px);
  padding-bottom: 30px;
}

.bar {
  max-width: 360px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 24px;
  flex-shrink: 0;
}

.content {
  width: 100%;
}

.titleForeve {
  color: #424242;
  font-weight: 500;
  font-size: 24px;
}

.barContainer {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.sorts {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 28px;
  max-width: 600px;
  width: 100%;
}

.infoHotel {
  display: flex;
  justify-content: space-between;
}

.geo {
  color: #424242;
  font-weight: 500;
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.date {
  color: #41522e;
  font-weight: 400;
  font-size: 24px;
}

.hotelsCountForev {
  margin-bottom: 20px;
}

.hotels_list {
  padding-right: 12px;
  overflow-y: scroll;
}
